[submodule "_libs/runt-cairo"]
	path = _libs/runt-cairo
	url = git://www.github.com/paulbatchelor/runt-cairo
[submodule "_libs/runt-img"]
	path = _libs/runt-img
	url = git://www.github.com/paulbatchelor/runt-img
[submodule "_libs/runt-plumber"]
	path = _libs/runt-plumber
	url = git://www.github.com/paulbatchelor/runt-plumber
[submodule "_libs/cray"]
	path = _libs/cray
	url = git://www.github.com/paulbatchelor/cray
[submodule "_libs/runt-scheme"]
	path = _libs/runt-scheme
	url = git://www.github.com/paulbatchelor/runt-scheme
[submodule "_libs/patchwerk"]
	path = _libs/patchwerk
	url = git://github.com/paulbatchelor/patchwerk
[submodule "_libs/runt-math"]
	path = _libs/runt-math
	url = git://github.com/paulbatchelor/runt-math
[submodule "_libs/libline"]
	path = _libs/libline
	url = git://github.com/paulbatchelor/libline
